h1 {
    color: #F97925;
    size: 30px;
    font-weight: bold;

}

p {
    color: #259BF9;
    size: 16px;
    font-weight: normal;
}

h2 {
    color: #10B017;
    size: 25px;
    font-weight: 600;
}